.input {
    border-radius: 6px;
    border: 1px solid #b2dfee;
    margin: 5px 0;
    box-sizing: border-box;
    padding: 2px 5px;
    width: 75%
}

.label{
    width: 25%;
}

.btnEditSave {
    display: block;
    margin: 5px auto;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.btnEditSave:hover {
    background-color: #007cad;
    color: white;
}

.btnEditSave:active {
    background-color: white;
    color: black;
}